:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #00f;
  --color-red: #f00;
}

.body {
  background: var(--color-black);
  color: var(--color-white);
}
.body::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0;
}
.body::-webkit-scrollbar-track {
  background-color: var(--color-black);
}
.body::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: linear-gradient(var(--color-white), var(--color-blue), var(--color-red));
  background-repeat: no-repeat;
}
.body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(var(--color-white), var(--color-red), var(--color-white));
}
.body::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0;
}
.body::-webkit-scrollbar {
  width: 4px;
}